
    .fialkova{
        color: violet
    }
    .ruzovka{
        color: palevioletred
    }
    .hneda{
        color: burlywood
    }

    .velko-radkovani{
        line-height: 150%;
    }